@charset "UTF-8";
.header {
  /* .header__burger */
}
.header__burger {
  display: none;
}

/*ОБЩЕЕ. Все одинаковое так и на планшете, и на мобильном//TABLET & MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 1100px) {
  /*ГЛАВНАЯ СТРАНИЦА*/
  .header {
    /* .header__burger */
    /* .header__burger-active */
    /* .header__nav */
    /* .header__nav-active */
    /* .header__list */
    /* .header__line-active */
  }
  .header__burger {
    height: 60px;
    text-align: center;
    text-align: -webkit-center;
    display: block;
    width: 100%;
    position: relative;
    z-index: 8;
  }
  .header__burger span {
    width: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F37113;
    display: block;
    content: "";
    position: absolute;
    top: 30px;
    transition: .8s ease;
  }
  .header__burger span:before, .header__burger span:after {
    width: 100px;
    height: 2px;
    background-color: #F37113;
    display: block;
    content: "";
    position: absolute;
    transition: .5s ease;
  }
  .header__burger span:before {
    top: 17px;
  }
  .header__burger span:after {
    top: -17px;
  }
  .header__burger-active {
    height: 60px;
    text-align: center;
    text-align: -webkit-center;
    display: block;
    width: 100%;
    position: relative;
    z-index: 8;
  }
  .header__burger-active span {
    width: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    content: "";
    position: absolute;
    top: 30px;
  }
  .header__burger-active span:before, .header__burger-active span:after {
    height: 2px;
    background-color: #fff;
    display: block;
    content: "";
    position: absolute;
  }
  .header__burger-active span:before {
    width: 30px;
    top: 17px;
    transform: translateX(-35px);
  }
  .header__burger-active span:after {
    width: 100px;
    top: -17px;
  }
  .header__nav {
    transform: translateY(-2000px);
    border-radius: 0;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 7;
    background-color: #F37113;
    display: block;
    transition: .5s ease;
  }
  .header__nav-active {
    transition-delay: .3s;
    transform: translateY(0px);
  }
  .header__list {
    flex-direction: column;
    margin-top: 110px;
  }
  .header__list ul {
    width: 100%;
    flex-direction: column;
  }
  .header__list ul li {
    margin-top: 50px;
  }
  .header__list ul li:hover {
    background-color: inherit;
  }
  .header__list ul li:hover .spans {
    display: none;
  }
  .header__list ul li a {
    color: #fff !important;
    right: auto;
    font-size: 30px;
    font-weight: 100;
  }
  .header__line-active {
    color: #fff !important;
  }
  .header__nav-line {
    display: none;
  }

  .header__list li:hover a {
    opacity: 1;
  }
  .main {
    /* .main__wrap */
    /* .main__slider */
    /* .main__img-all */
    /* .main__text */
  }
  .main__wrap {
    width: 100%;
    min-height: 390px;
  }
  .main__slider {
    width: 100%;
    max-height: 390px;
  }
  .main__img-all {
    height: 100% !important;
    margin: 0 auto;
    width: 100% !important;
  }
  .main__text {
    font-size: 30px;
  }

  .slick-list.draggable {
    width: 95%;
    height: 390px;
    margin: 0 auto;
  }

  .slick-track {
    width: 100% !important;
    height: 100%;
    display: -webkit-inline-box;
  }

  .link {
    border: none;
    /* .link__item */
    /* .link__title */
    /* .link__p */
  }
  .link__wrap {
    flex-direction: column;
    margin-top: -130px;
  }
  .link__item {
    margin-top: 30px;
    width: 85%;
    margin-left: 15%;
  }
  .link__title {
    font-size: 20px;
  }
  .link__p {
    font-size: 16px;
  }
  .link__img {
    width: 178px;
    height: 280px;
    display: block;
    background-image: url("../img/uzor.png");
    background-size: cover;
    background-position: center;
  }

  /*PORTFOLIO*/
  .portfolio {
    /* .portfolio__wrap */
    /* .portfolio__side */
    /* .portfolio__title */
  }
  .portfolio__wrap {
    grid-template-columns: 1fr;
  }
  .portfolio__side {
    transition: .5s ease;
    transform: translateY(-2000px);
    width: 100%;
    height: 100vh;
    background-color: #f6f8aa;
    position: absolute;
    top: 0;
    z-index: 8;
    padding-top: 50px;
  }
  .portfolio__side-active {
    transform: translateY(0px);
  }
  .portfolio__title {
    text-align: center;
    width: 100%;
  }
  .portfolio__mobile-btn {
    display: flex;
  }
}
/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  /*ГЛАВНАЯ СТРАНИЦА*/
  .main {
    /* .main__text */
  }
  .main__text {
    font-size: 30px;
  }

  .link__img {
    display: none;
  }

  /*ABOUT	*/
  .about {
    /* .about__wrap */
    /* .about__item */
    /* .about__uzor2 */
    /* .about__text1 */
    /* .about__title */
    /* .about__parag */
    /* .about__letter */
    /* .about__img */
    /* .about__uzor */
    /* .about__text2 */
  }
  .about__wrap {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
  }
  .about__item {
    margin: 0 auto;
    width: 100%;
  }
  .about__item:first-child {
    grid-area: inherit;
  }
  .about__item:nth-child(2) {
    grid-row: 1;
  }
  .about__item:last-child {
    width: 80%;
    margin: 0 auto;
    grid-area: inherit;
  }
  .about__uzor2 {
    left: -200px;
    width: 100%;
    top: 93%;
  }
  .about__text1 {
    width: 80%;
    margin: 0 auto;
  }
  .about__title {
    width: 100%;
  }
  .about__parag {
    font-size: 16px;
    width: auto;
  }
  .about__letter {
    font-size: 492px;
    left: 0;
    top: 150px;
    position: absolute;
  }
  .about__img {
    width: 80%;
    height: 308px;
  }
  .about__uzor {
    margin: 0 auto;
  }
  .about__text2 {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
  }

  /*CONTACTS*/
  .contacts {
    padding-top: 40px;
    /* .contacts__wrap */
    /* .contacts__img */
    /* .contacts__info */
  }
  .contacts__wrap {
    flex-direction: column;
  }
  .contacts__img {
    width: 200px;
    height: 250px;
    margin: 0 auto;
  }
  .contacts__info {
    margin: 140px auto;
  }

  .background {
    top: 108px;
    margin: 0 auto;
    width: 100%;
    /* .background__item */
  }
  .background__item h1 {
    font-size: 112px;
    margin: 0 auto;
  }
  .background__item:first-child h1:last-child {
    display: none;
  }
  .background__item:nth-child(2) h1:last-child {
    display: none;
  }
  .background__item:nth-child(3) h1:last-child {
    display: none;
  }
  .background__item:last-child {
    display: none;
  }

  /*PORTFOLIO*/
  .gallery {
    grid-template-columns: 100%;
    margin: 0 auto;
    grid-area: inherit;
    /* .gallery__item */
  }
  .gallery__item .gallery__img {
    width: 300px !important;
    height: 100% !important;
  }

  .buttons {
    text-align: center;
    width: 100%;
    /* .buttons__wrap */
  }
  .buttons__wrap {
    width: 95%;
    margin: 0 auto;
    justify-content: flex-end;
  }
}
/*TABLET*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  /*ГЛАВНАЯ СТРАНИЦА*/
  .main {
    /* .main__text */
  }
  .main__text {
    font-size: 80px;
  }

  .link {
    /* .link__item */
    /* .link__p */
  }
  .link__wrap {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: calc(100%/3);
    width: 95%;
    margin: 0 auto;
  }
  .link__item {
    margin-top: 0;
    margin-left: 0;
  }
  .link__item:nth-child(2) {
    grid-area: 2/2/3/3;
  }
  .link__item:nth-child(3) {
    grid-area: 3/3/4/4;
  }
  .link__img {
    grid-area: 1/4/4/5;
  }

  /*ABOUT	*/
  .about {
    padding-bottom: 100px;
    /* .about__wrap */
    /* .about__item */
    /* .about__uzor2 */
    /* .about__letter */
    /* .about__img */
    /* .about__text2 */
  }
  .about__wrap {
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
  }
  .about__item:nth-child(3) {
    display: none;
  }
  .about__item:last-child {
    grid-area: inherit;
  }
  .about__uzor2 {
    left: -160px;
  }
  .about__letter {
    left: 0;
  }
  .about__img {
    margin-left: 50px;
  }
  .about__text2 {
    font-size: 20px;
    width: 430px;
    margin-left: 50px;
  }

  /*CONTACTS*/
  .contacts {
    /* .contacts__info */
  }
  .contacts__info {
    width: 30%;
    margin: -50px auto;
  }

  .background {
    top: 80px;
    /* .background__item */
  }
  .background__item {
    flex-direction: column;
  }
  .background__item:nth-child(3) {
    display: none;
  }
  .background__item:last-child {
    display: none;
  }

  /*PORTFOLIO*/
  .portfolio {
    /* .portfolio__wrap */
  }
  .portfolio__wrap {
    display: block;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 90%;
    /* .gallery__item */
    /* .gallery__imgHeight-580 */
    /* .gallery__imgHeight-500 */
  }
  .gallery__item .gallery__img {
    width: 100% !important;
  }
  .gallery__imgHeight-580 .gallery__img {
    height: 370px;
  }
  .gallery__imgHeight-500 .gallery__img {
    height: 300px;
  }
  .gallery__item__active {
    width: 90% !important;
    height: 90vh !important;
  }

  .buttons {
    width: 90%;
    margin: 60px auto;
    /* .buttons__wrap */
    /* .buttons__item */
  }
  .buttons__wrap {
    justify-content: space-between;
  }
  .buttons__item {
    font-size: 30px;
  }
}
/*Узор на страничке about*/
@media only screen and (min-device-width: 848px) and (max-device-width: 1000px) {
  /*ABOUT	*/
  .about {
    /* .about__uzor2 */
  }
  .about__uzor2 {
    left: -107px;
  }
}
